*,
*::before,
*::after {
  box-sizing: border-box;
}



body {

  overflow-x: hidden;
}
.admin {

  --spacing: 1rem;
  display: flex;
  flex-wrap: wrap;


  grid-template-columns: 300px 1fr;
  grid-template-areas: "header header" "nav    main" "footer footer";

}
.admin__header {
  display: flex;
  flex-basis: 100%;
  grid-area: header;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}
.admin__nav {
  flex: 0 0 300px;


  overflow: scroll;
  max-height:100%;
   filter: grayscale(35%);
}
.admin__main {
  max-height: 100%;
  background-color: #e7e7e7;

  flex: 1;

  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  /* background-color: #f4f7fa; */
}
.swipe__card {
  position: relative;
  max-width: 1200px;
  height: 525px;
}
/*.swipe__card:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}*/
.content {
  position: absolute;
  width: 100%;
  height: 100%;
}
.admin__footer {
  display: flex;

  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 var(--spacing);
  color: #4e5561;
  background-color: #1d2127;
}
@media screen and (min-width: 48rem) {
  .admin {
    --spacing: 2rem;
  }
}
.dashboard {
  --column-count: 2;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--spacing) * -0.5);
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-gap: var(--spacing);
}
.dashboard__item {
  flex: 1 1 50%;

  padding: calc(var(--spacing) / 2);
}
.dashboard__item--full {
  flex-basis: 100%;
  grid-column: 1 / -1;
}
.dashboard__item--col {
  flex-basis: calc(100% / var(--column-count));

}

a {
  color: #dc5a60;
  text-decoration: none;
}

.brand {
  display: flex;
  flex: 0 0 250px;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  color: #fff;
  background-color: #67b4ba;
  font-size: 1rem;

}
.brand h1 {
  margin: 0;
}

.logo{
  float:left;
}

.logo img {
  height:70px;
  width:200px;
  float:left;

}
.toolbar {
   background-color: #67b4ba;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.menu {
  list-style-type: none;
  padding: 0;
}
.menu__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}
.menu__link {
  display: block;
  padding: 1rem 2rem;
  color: #76808f;
  text-decoration: none;
}
.menu__link:hover, .menu__link:focus {
  color: #fff;
  background-color: #1f222d;
}
.card {
  height: 200%;
  padding: 1rem;
    font-weight: 300;
  background-color: gray;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn {
  display: inline-block;
  border-radius: 5em;
  border: 0;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}
.btn--primary {
  color: #fff;
  background-color: #56bf89;
}
.profile {
  /*box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);*/
  width:46%;
  height: 40%;
  background-color: #ffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  cursor: grab;
  border-radius: 15px;


  overflow: scroll;
}
.profile h3 {
  font-family: 'Quicksand', sans-serif;
}

.withBorder {
  border: 1px solid white;

}

.title {
  color: grey;
  font-size: 18px;
}

.react-datetime-picker__clock {
 display:none;
 }




 .photo {
  max-width:100%;
  height:350px;

  display: block;
  border-bottom: 1px solid black
 /* margin-left: 0px;
  margin-right: 5px;
*/

}

.photo img{
height:100%;
width:100%;
}



.restInfo {
  width:80%;

  text-align: left;
  margin-left:auto;
  margin-right:auto;

}

.restInfo h2 {
margin-top: 20px;
margin-bottom: 7px;
-webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

}

.restInfo h3 {
  margin-bottom:10px;
  margin-top:10px;

}

.restInfo h5 {
  margin-bottom:10px;
  margin-top:15px;
}


.getRestaurant {
  text-align: center;
  margin-top: 250px;

}

.foodtype {
  height:70px;
  font-size: 40px;
  padding-left: 30px;
  width: 55%;
  opacity: .8;
  border: 2px solid #67b4ba;

  /*border: 2px solid red;*/
}

.distance {
  display:block;
  height:30px;
  width:120px ;
  font-size: 20px;
  margin-left: auto;
  margin-right:auto;

 }

.restCard {
height:650px;
opacity:1.0;
}

 .modal {
  top:400px;
  margin-left: 50%;

 }

 /*.insideModal p {

 }*/

 .insideModal {
  height: 50%;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  text-align: center;
  border-radius: 15px;
 }

 .insideModal p {
  text-decoration: underline;
 }

 .insideModal input {
  border: none;
  border-bottom: 2px solid #67b4ba;
  outline-width: 0;
  width: 60%;
  height: 50px;
  font-size: 25px;
  margin-bottom: 10px;
  background-color : white;
  outline: none;
 }

 input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.Collapsible {
  background-color: #d8d9db;
  margin-bottom: 30px;
  margin-top: 30px;
  width:80%;
  font-size: 15px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  border: 2px solid #67b4ba ;


}





.Collapsible__contentInner {
  background-color: #d8d9db;
  font-size: 20px;
  text-align: center;
   -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-left:7px;
  margin-right:7px;





  }


  .is-closed{
   cursor:pointer;
   }

   .is-open h1 {
    cursor:pointer;
    margin-bottom: 0;
   }








.eventList {
  height:100vh;
}



.eventForm {
  height: 85vh;
  text-align: center;

   cursor:default;
}

.eventInfo {
  border: none;
  font-size: 22px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 10px;
  height:30px;
  border-bottom: 2px solid #67b4ba;

}

.hiddenRestaurantInfo{
  display: none;
  height: 0px;
  width:0px;
}


.addressString {
 display: none;
 height: 0px;
 width:0px;
}

.overlap {
  position: flex;
  width:75px;
  float:right;
  margin-right: 15px;
  margin-top: 10px;
  margin-left: 3px;
}

.rating {
  background-color: #67b4ba;
  text-align: center;
  height: 75px;
  width: 75px;
  padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;

    margin:0;
    position:relative;
}

.price h5 {
  margin-top:5px;
  color:green;
  font-size:25px;


}

.description {
 background-color: white;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.ToggleButton {
  text-align: center;
}

.ToggleButton button {
  width: 100%;
  background-color: #67b4ba;
  height:40px;
  border-top: 1px solid white;
  color:white;
}

.react-datetime-picker {
  margin-top:5px;

}

input.react-datetime-picker__button__input__month {
  font-size: 20px;
}

input.react-datetime-picker__button__input__day {
 font-size: 20px;
}

input.react-datetime-picker__button__input__year {
 font-size: 20px;

}

input.react-datetime-picker__button__input__hour {
   font-size: 20px;

}

input.react-datetime-picker__button__input__minute {
   font-size: 20px;

}

.react-datetime-picker__button {
  padding:5px;
   border: 2px solid #67b4ba;


}

.react-datetime-picker__clear-button {
  display:none;
}

textarea.eventDescription {
  border: 2px solid #67b4ba;
  width:80%;
  height:125px;
  font-size: 22px;
  padding:10px;

}

/* button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
button:hover, a:hover {
  opacity: 0.7;
} */
/* beacon */
